@model IEnumerable<MokriLug.Models.UserViewModel>
@{
    ViewBag.Title = "Mokri Lug Kingdoms at War";
}

<main>
    <h1 class="text-center">Scoreboard</h1>
    <table class="table table-bordered border-dark table-hover text-start fs-5">
        <thead>
            <tr class="fw-bold">
                <td>User</td>
                <td>Won</td>
                <td>Lose</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="p-5 m-lg-5 bg-secondary bg-opacity-25">
                    <td>@user.Username</td>
                    <td>@user.Won</td>
                    <td>@user.Lost</td>
                </tr>
            }
        </tbody>
    </table>
</main>